#footer-toolbar {
    height: 150px;
    background-color: rgb(48, 106, 165); 
    bottom: 0px;
    color: white;
    display: flex;
    /* margin-top: 4  0px; */
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 20px;
  }

  h5 {
    color: white;
    font-weight: 300;
  }

  .icons-sm {
    color: white !important;
    font-size: 2.3em;
    padding-right: 20px;
  }
  
  .icons-sm:hover {
    color: #5bc0de !important;;
    cursor: pointer;
  }

  .selectedIcon {
    color: #5bc0de !important;;
  }
  
  

  /* style="color: #5bc0de;" */