<mat-toolbar id="footer-toolbar">

    <mat-toolbar-row>
        <h5>Created and designed by <span style="color: #5bc0de;"> Barney Nikolich</span>.</h5>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <a target="_blank" href="https://github.com/BarneyNikolich" class="icons-sm"><i class="fa fa-github mr-md-4"> </i></a>
        <a target="_blank" href="https://www.linkedin.com/in/barney-nikolich-7b1370122/" class="icons-sm"><i class="fa fa-linkedin mr-md-4"> </i></a>
        <a routerLink="contact" class="icons-sm "><i class="fa fa-envelope mr-md-4"></i></a>
    </mat-toolbar-row>
    
</mat-toolbar>
