<!--<app-sub-header [title]="title"></app-sub-header>-->
<mat-toolbar>
  <div>
    <h1 id="sub-header-sub-page-title">{{title}}</h1>
  </div>
  <div class="sub-header-action-buttons">
    <button *ngIf="sideNavOpen && !showMonthView" mat-raised-button (click)="showFilter()"><mat-icon>filter_list</mat-icon>Hide Filter</button>
    <button *ngIf="!sideNavOpen && !showMonthView" mat-raised-button (click)="showFilter()"><mat-icon>filter_list</mat-icon>Show Filter</button>

    <button mat-raised-button *ngIf="showMonthView" (click)="toggleView()"><mat-icon>filter_list</mat-icon>Filter View</button>
    <button mat-raised-button *ngIf="!showMonthView" (click)="toggleView()"><mat-icon>date_range</mat-icon>Month View</button>
  </div>
</mat-toolbar>


<div class="content">

  <app-race-filter *ngIf="!showMonthView"
                   [filteredRaces]="filteredRaces"
                   [locations]="_locations"
                   [terrains]="_terrains"
                   [resultCount]="filteredRaceCount"
                   (onFilterRaces)="onFilterRaces($event)"
                   (onSideNavOpen)="onSideNavChange($event)"
  ></app-race-filter>

  <app-month-view *ngIf="showMonthView"[races]="races" [raceMonths]="_raceMonthMap"></app-month-view>
</div>

