.content {
  background-image: url("../../../assets/background/contour_bg.png");
  padding-top: 100px;
  padding-bottom: 100px;
}

mat-toolbar {
  justify-content: space-between;
  height: 100px;
  width: 100%;
  margin-top: 50px;
  background-color: rgb(48, 106, 165);
  color: white;
}

#sub-header-sub-page-title {
  font-weight: 300;
  margin: 0;
  padding: 28px 8px;
  font-size: 25px;
}

.sub-header-action-buttons > :first-child {
  margin-right: 20px;
} 

@media only screen and (max-width: 500px) {
  div.sub-header-action-buttons {
    display: flex;
    flex-direction: column;
  } 
  div.sub-header-action-buttons > button {
    margin-right: 0px;
    margin-top: 5px;
    width: 100%;
  }
}




