<div class="container" [style.width.px]="seventyFivePercentScreenWidth - 125"  [style.height.px]="" #divElement>
  <div class="sub-div" *ngFor="let day of getDaysInMonth(); let i = index;"  [style.height.px]="calculateSingleBoxHeight()" [style.width.px]="calculateSingleBoxWidth()">
    <div class="day-centered">{{i + 1}}</div>
  </div>
</div>
