.container {
  margin: 50px auto 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 1px solid red;
}

.sub-div{
  display: flex;
  border: 1px solid #999;
  margin: -1px 0 0 -1px;
  flex-direction: column;
  align-items: flex-start;
}

.day-centered {
  align-self: center;
}

.event {
  /*align-self: flex-start;*/
}
