<app-sub-header [title]="title"></app-sub-header>

<div id="content">

  <mat-card class="">
      <mat-card-header>
        <mat-icon class="text-subheading">perm_identity</mat-icon>
        <mat-card-title class="text-subheading">About me.</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <p>
          The toughest part of ultra marathon running has nothing to do with long grueling miles on claggy moorland. For me it is the lack of centralised information about races around the UK.
          Having run ultras for the best part of 7 years I finally decided to build a website that aims to offer a service that hopefully makes our lives easier.
        </p>

        <p>
          The aim of this website is to make race planning easier, simpler and more streamlined. As a terrible organiser myself I miss out on many events due not knowing they are taking place.
          Having a calendar to save races to, search races and view race information all in one place should make sorting races out a lot easier.
          The motivation behind this website is to make my life easier and hopefully other ultra runners in the process.

        </p>

      </mat-card-content>
       <mat-card-content>
         <div class="footer-image" matTooltip="Grueling winter attempt of the Ring of Fire, Galloway Forest" matTooltipClass="text-paragraph"></div>
       </mat-card-content>
    <mat-card-footer class="about-footer">
      <a target="_blank" href="https://github.com/BarneyNikolich" class="icons-sm"><i class="fa fa-github mr-md-4"  matTooltip="Github"></i></a>
      <a target="_blank" href="https://www.linkedin.com/in/barney-nikolich-7b1370122/" class="icons-sm"><i class="fa fa-linkedin mr-md-4"
           matTooltip="Linked In"> </i></a>
      <a class="icons-sm" matTooltip="Email"><i class="fa fa-envelope mr-md-4"></i></a>
    </mat-card-footer>

    </mat-card>

</div>
