#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../assets/background/contour_bg.png");
}

mat-card {
    width: 60%;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  mat-card {
    width: 85%;
  }
}

p {
    font-size: 18px;
}

.footer-image {
  height: 300px; 
  width: 95%;
  background-image: url('../../assets/about-me/about_me.jpg');
  background-size: cover;
  background-position:80% 80%;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  /*margin: 100px 0px 100px 0px;*/
}

.about-footer {
  display: flex;
  justify-content: center;
  justify-items: center;
  font-size: 50px;
}

.about-footer a {
  margin-right: 20px;
  color: black;
}
