form {
  /*background-color: greenyellow;*/
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.filter-form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 80%;
  font-size: 13px
}

.filter-form-action-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0;
  height: 130px;
  width: 100%;
  border-top: 2px solid #999999 ;
}

.filter-form-action-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 30px;
}


.filter-form-fields p {
  font-size: 20px;
  /* margin-left: 20px; */
  font-weight: 400;
}

mat-select {
  height: 10px;
}

#filter-title {
  align-self: center;
}

.select-options {
  background: rgba(0, 255, 0, 0.5);
}


.example-container {
  /* height: 500px; */
  position: absolute;
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0; 
}

.example-sidenav {
  width: 400px;
  /* background: orange; */
}

@media only screen and (max-width: 1024px) {
  .example-sidenav {
    width: 100%;
  }
  mat-form-field {
    width: 70%;
  }
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav-content {
  background-image: url("../../../../assets/background/contour_bg.png");
  padding-top: 50px;
}

.centre h2{
  text-align: center;
  font-weight: 400;
  font-size: 30px;
}

.sidenav-toggle mat-icon {
  font-size: 50px;
}

#submit-filter-button {
  background-color: lightgreen;
}