<mat-sidenav-container class="example-container">
  <mat-sidenav (openedChange)="toggleArrow($event)" #sidenav mode="side" opened class="example-sidenav"
               [fixedInViewport]="true" [fixedTopGap]="150"
               [fixedBottomGap]="0">


      <form [formGroup]="filterRacesForm" (submit)="filterRacesSubmit(filterRacesForm.value)">

        <div class="filter-form-fields">

          <p class="text-font" id="filter-title">Filter ultramarathons</p>


          <mat-form-field appearance="outline">
            <mat-label>Locations</mat-label>
            <mat-select (selectionChange)="getResultCount(filterRacesForm.value)" [panelClass]="'select-options'" formControlName="area">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let location of locations" [value]="location">
                {{location}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Terrains</mat-label>
            <mat-select (selectionChange)="getResultCount(filterRacesForm.value)" panelClass="select-options" formControlName="terrain">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let terrain of terrains" [value]="terrain">
                {{terrain}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Distance</mat-label>
            <mat-select (selectionChange)="getResultCount(filterRacesForm.value)" panelClass="select-options" formControlName="distance">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let distance of distanceOptions" [value]="distance">
                {{distance}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          

        </div>

        <div class="filter-form-action-panel">

          <div class="result-count">
            <h1 class="text-font">Count: <b>{{resultCount}}</b></h1>
          </div>

          <div class="filter-form-action-buttons">
            <button mat-raised-button (click)="resetFilterForm()">Reset</button>
            <button id="submit-filter-button" mat-raised-button type="submit">Filter results</button>
          </div>

        </div>
      </form>

  </mat-sidenav>

  <mat-sidenav-content>

    <!-- <button [disableRipple]="true" class="sidenav-toggle" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="sideNavOpen">navigate_before</mat-icon>
      <mat-icon *ngIf="!sideNavOpen">navigate_next</mat-icon>
    </button> -->


    <div class="centre" *ngIf="filteredRaces.length === 0">
      <h2 class="text-font">
        Start filtering to view races
      </h2>
    </div>


    <app-list-view *ngIf="filteredRaces.length > 0"
                   [races]="filteredRaces"
                   [percentageWidth]="60"
                   [month]="'January'"
    ></app-list-view>


  </mat-sidenav-content>
  
</mat-sidenav-container>
