<mat-nav-list [disableRipple]="true">
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/upcoming" (click)="onSidenavClose()">
    <mat-icon>notification_important</mat-icon> <span class="nav-caption">Upcoming</span>
  </a>
  <a mat-list-item routerLink="/search" (click)="onSidenavClose()">
    <mat-icon>list</mat-icon> <span class="nav-caption">All Races</span>
  </a>
  <a mat-list-item routerLink="/my-races" (click)="onSidenavClose()">
    <mat-icon>date_range</mat-icon><span class="nav-caption">My Races</span>
  </a>
  <a mat-list-item routerLink="/about" (click)="onSidenavClose()">
    <mat-icon>perm_identity</mat-icon><span class="nav-caption">About</span>
  </a>
  <a mat-list-item routerLink="/contact" (click)="onSidenavClose()">
    <mat-icon>contact_mail</mat-icon><span class="nav-caption">Contact</span>
  </a>
</mat-nav-list>
