<mat-toolbar [style.height.px]="height" [style.marginTop.px]="marginTop">

  <ng-container *ngIf="homePage" class="home-info">
      <div fxFlex fxLayout="column" fxLayoutAlign="center center">
          <h1 [ngStyle.xs]="{'font-size.px': 30}" id="sub-header-home-page-title">Ultramarathon Planner</h1>
          <h3 [ngStyle.xs]="{'font-size.px': 12}" >A tool to organise your races so you don't have to spend a weekend indoors.</h3>
          <a routerLink="/search">
            <button	mat-raised-button>
              <mat-icon>search</mat-icon>Search
            </button>
          </a>

      </div>
  </ng-container>

  <ng-container *ngIf="!homePage">
    <div fxFlex fxLayout fxLayoutAlign="start">
        <h1 id="sub-header-sub-page-title">{{title}}</h1>
    </div>
  </ng-container>

</mat-toolbar>
