mat-toolbar{
    background-color: rgb(48, 106, 165);
    color: white;
    white-space: normal;
    text-align: center;
  }

  #sub-header-sub-page-title {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 25px;
  }

  #sub-header-home-page-title {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
  }

  h3 {
    font-weight: 300;
    word-wrap: break-word;

  }

  button {
    margin-top: 40px;
  }

mat-icon {
  width: 45px;
}

