<app-sub-header [title]="title"></app-sub-header>
<div class="content">
  <mat-card class="about-info-panel">
    <mat-card-header>
      <mat-icon class="text-subheading">contact_mail</mat-icon>
      <mat-card-title class="text-subheading">Contact me.</mat-card-title>
    </mat-card-header>

    <mat-card-content>

      <form [formGroup]="contactMeForm" class="example-form">

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>First name</mat-label>
          <input matInput formControlName="firstName">
          <mat-error *ngIf="emailFormControl.hasError('required')">
            First name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Last name</mat-label>
          <input matInput placeholder="Last name" formControlName="lastName">
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Last name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email"
                 [errorStateMatcher]="matcher">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="example-full-width">
          <textarea matInput></textarea>
          <mat-label>Message</mat-label>
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit" value="Submit" (click)="onSubmit(contactMeForm.value)">Submit</button>

      </form>

    </mat-card-content>
  
  </mat-card>

</div>
