.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../../../assets/background/contour_bg.png");
}

mat-card {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
  mat-card {
    width: 85%;
  }
}

mat-card-content {
  margin-top: 50px;
}

mat-form-field {
  margin-top: 5px;
}

textarea {
  height: 100px;
}

.example-form {
  min-width: 150px;
  /*width: 60%;*/
  /*width: 100%;*/
}

.example-full-width {
  width: 100%;
}
