<div class="month-view-content">

  <mat-spinner [diameter]="30" *ngIf="showSpinner"></mat-spinner>

  <ng-container *ngFor="let month of months">

    <div class="month-container">

      <div class="month-block text-font hand-cursor" (click)="toggleMonthDropdown(month)" [ngClass]="{'active-month': isActive(month)}">

        <p id="month-name">{{month}}</p>

        <div class="end">
        <span id="race-count">
          ({{raceMonths.findColumnKeys(month).length}} races)
        </span>

          <div class="dropdown-caret">
            <mat-icon *ngIf="!showMonthDropdown(month)">expand_more</mat-icon>
            <mat-icon *ngIf="showMonthDropdown(month)">expand_less</mat-icon>
          </div>
        </div>

      </div>

      <div class="race-list-container" *ngIf="showMonthDropdown(month)" [@slideInOut]>
        <app-list-view [races]="raceMonths.findColumnKeys(month)" [month]="month"
                       [percentageWidth]="99"></app-list-view>
      </div>

    </div>


  </ng-container>


</div>
