.month-view-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.month-container {
  width: 70%;
}

@media only screen and (max-width: 768px) {
  div.month-container {
    width: 90%;
  }
}

.month-block {
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  background-color: #eeeeee;
  margin-top: 5px;
  transition: 0.5s;
  border-right: 5px solid transparent;
}

.month-block:hover {
  border-right: 5px solid rgb(48, 106, 165);;
}

.active-month {
  border-right: 5px solid rgb(48, 106, 165);
  background-color: #ccc;
}

.month-block:hover {
  background-color: #ccc;
}

#month-name {
  font-weight: 500;
  font-size: 30px;
  /*color: #5bc0de;*/
  color: rgb(48, 106, 165);
  margin-left: 15px;
}

#race-count {
  color: rgb(100, 100, 100);
}

.dropdown-caret mat-icon {
 font-size: 50px;
  margin-right: 30px;
  margin-left: 20px;
  color: rgb(100, 100, 100);
}

.end {
   display: flex;
   flex-direction: row;
   align-items: center;
}

mat-spinner {
  font-size: 10px;
}

.race-list-container {
  margin-top: 5px;
}
