a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: #5bc0de;
}


#header-menu-icon {
  font-size: 2.5rem;
  color: white;
}

#header-menu-icon:hover {
  color: #5bc0de;
}

#header-menu-button{
  padding-right: 50px;
}

mat-toolbar {
  height: 60px;
  background-color: rgb(48, 106, 165); 
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12); /* Add shadow below */
  position: fixed;
  font-weight: 400;
  z-index: 1;
}

@media(max-width: 900px){
  mat-toolbar{
    /* border-radius: 90px; */
  }
}

.nav-items a {
  border-bottom: 3px solid transparent; /* Transparent placeholder for underline border */
  padding: 14px 16px;
}

.nav-items a:hover {
  border-bottom: 3px solid #5bc0de;
}

.active-link {
  border-bottom: 3px solid #5bc0de!important;
}

#upcoming-link {
  margin-left: 30px;
}
