<mat-toolbar>
  <div fxHide.gt-xs>
    <button id="header-menu-button" mat-icon-button (click)="onToggleSidenav()">
      <mat-icon id="header-menu-icon">menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">ultra-planner</a>
  </div>
  <div class="nav-items" fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>
    <a id="upcoming-link"routerLink="/upcoming" routerLinkActive="active-link" >Upcoming</a>
    <a id="all-races"routerLink="/search" routerLinkActive="active-link" >View races</a>
  </div>
  
  <div class="nav-items" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <a routerLink="/about" routerLinkActive="active-link">About
    </a>
    <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
  </div> 
</mat-toolbar>
