.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.race-list-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 70px;
  background-color: rgb(233, 233, 233);
  border: 1px solid #999;
  margin: -1px 0 0 -1px;
  border-radius: 10px;
  padding: 5px;
  color: rgb(100, 100, 100);
  transition: 0.2s;
  /*border-left: 5px solid transparent;*/
}


@media only screen and (max-width: 1000px) {
  div.race-list-box {
    width: 90% !important;
  }
}

@media only screen and (max-width: 500px) {
  div.flex-row {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  div.date {
    width: 100%;
    border-right: none;
    flex-direction: row;
    margin-bottom: 5px;
  }
  div.date > * {
    margin-right: 5px;
  }
  div.action-buttons {
    border-left: none;
  }
  div.race-info {
    width: 100%;
    flex-direction: row;
  }
  div.race-name {
    width: 100%;
    justify-content: center;
    margin-bottom: 5px;
  }
}

.race-list-box:hover {
  background-color: rgb(217, 236, 243);
  border-left: 6px solid rgb(48, 106, 165);
  transition: 0.2s;
}



.date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid grey;
  width: 8%;
}

.race-name {
  width:50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  margin-left: 10px;
}


.race-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width:34%;
  font-size: 15px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8%;
  border-left: 1px solid grey;
}

.action-buttons mat-icon {
  font-size: 40px;
  margin-bottom: 10px;
}

#date-text {
  font-size: 17px;
  font-weight: 400;
}

.day-text {
  font-size: 14px;
  font-weight: 400;
}

mat-icon {
  font-size: 15px;
}

.margin-bottom {
  margin-bottom: 10px;
}

app-race-info {
  width: 100%;
}
