<div class="content" #listViewElement>

  <mat-spinner *ngIf="showSpinner"></mat-spinner>

  <ng-container *ngIf="!showSpinner">

      <div class="race-list-box hand-cursor" [style.width.px]="getWidthOfParent()" [ngClass]="{'margin-bottom': race.showRaceDetail}" *ngFor="let race of races" (click)="toggleRaceDetail(race)">

        <div class="flex-row" [ngClass]="{'race-selected': race.showRaceDetail}">

          <div class="date text-font">
            <span class="day-text">{{getRaceDay(race)}}</span>
            <span id="date-text">{{getRaceDate(race)}}</span>
            <span class="day-text">{{getRaceMonth(race)}}</span>
          </div>

          <div class="race-name text-font">
            <span>{{race.name}}</span>
          </div>

          <div class="race-info text-font">
            <span>{{race.miles}} Miles</span>
            <span><mat-icon>access_time</mat-icon>Time: 7:00</span>
            <span><mat-icon>location_on</mat-icon>{{race.area}}</span>
          </div>

          <div class="action-buttons">
            <mat-icon *ngIf="!race.showRaceDetail">expand_more</mat-icon>
            <mat-icon *ngIf="race.showRaceDetail">expand_less</mat-icon>
          </div>

        </div>

        <div class="flex-row">
            <app-race-info class="race-detail-component" *ngIf="race.showRaceDetail" [@slideInOut] [race]="race"></app-race-info>
        </div>

      </div>

  </ng-container>

</div>
