<div class="list-view-race-info">

  <div class="flex-row" id="race-info-row">

    <div class="info-box">
      <h1 class="text-font">Race organisers details</h1>
    </div>

    <div class="info-box text-font">
      <h1 class="text-font">Location etc</h1>
    </div>

  </div>

  <div class="flex-row" id="race-info-map">
    <h1 class="text-font">This would be a map</h1>
  </div>



</div>

