.list-view-race-info {
}

#race-info-row {
  height: 200px;
  background-color: blanchedalmond;
  justify-content: space-between;
}

#race-info-map {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: cornflowerblue;
}

.info-box {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
}

