/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* for sidenav to take a whole page */
html, body {
  margin: 0;
  height: 100%;
}


.text-font {
  font: 200 20px Roboto,"Helvetica Neue",sans-serif;
}

.text-paragraph {
  font: 200 15px Roboto,"Helvetica Neue",sans-serif;
}

.text-subheading {
  font-size: 35px!important;
}

.hand-cursor {
  cursor: pointer;
}

/* Flex styles */

.flex-row {
  display: flex;
  flex-direction: row;
}


