

<div class="bd-pageheader">
        <!--<img src="../../assets/images/bg3.jpg"/>-->
        <!-- <div class="">
          <h1>UK Ultramarathon Database</h1>
          <p class="lead">
            <b>Search for a race and click to view more information.<br />
            Simple searching and filtering.
            </b>
          </p>
        </div> -->
</div>

  <app-sub-header [title]="title" [height]="300" [marginTop]="0" [homePage]="true"></app-sub-header>

<div class="content">

    <div id="home-info-flex-container">
      <!--<ng-template class="home-info-boxes">-->
        <div class="home-info-specific">
          <h4 [ngStyle.xs]="{'font-size.px': 20}" class="home-info-specific-heading">VIEW UPCOMING RACES</h4>
          <p class="text">View the races coming up in March. Make sure you keep up to date so you don't miss out!</p>
          <a class="home-info-specific-button" mat-flat-button routerLink="/upcoming">View upcoming</a>
        </div>

        <div class="home-info-specific">
          <h4 [ngStyle.xs]="{'font-size.px': 20}" class="home-info-specific-heading">SEARCH RACES IN THE UK</h4>
          <p class="text">Search a comprehensive list of ultramarathons in the United Kingdom.</p>
          <a class="home-info-specific-button" mat-flat-button routerLink="/search">Search races</a>
        </div>

        <div class="home-info-specific">
          <h3 [ngStyle.xs]="{'font-size.px': 20}" class="home-info-specific-heading">MANAGE YOUR RACES</h3>
          <p class="text">Select races you wish to compete in and manage them from your account page.</p>
          <a class="home-info-specific-button" mat-flat-button routerLink="/home">View My Races</a>
        </div>
      <!--</ng-template>-->

    </div>
    
</div>
