.content {
  /* background-image:  url("../../assets/background/contour_background.jpg"); */
  /* background-size: cover; */
}

.bd-pageheader {
  color: #fff;
  text-align: left;
  height: 370px;
  width: 100%;
  margin-top: 40px;
  /* background:hsla(0,0%,100%,.95); */
  /* background: linear-gradient(100deg,#0143a3,#0273d4, lightblue); */
  /* background: linear-gradient(100deg,#306AA5,#306AA5, lightblue); */
  background-image: url('../../assets/background/bg3.jpg');
  background-size: cover;
  background-position:80% 45%;
}

@media only screen and (max-width: 600px) {
  div.bd-pageheader {
    background-image: url('../../assets/running/mike-bg.jpg');
  }
}

.home-icons {
    padding:10px;
    height: 250px;
}

mat-icon {
    margin-top: 40px;
    margin-right: 130px;
    height: 200px;
    font-size: 7rem;
    color: black;
}

#home-info-flex-container {
  /* margin-top: 80px; */
  display: flex;
  justify-content: center; /* center items vertically, in this case */
  flex-direction: row;
  /* background-image: url("../../assets/background/contour_bg.png"); */
  background-image: url('../../assets/running/mike-bg.jpg');
  background-size: cover;
  flex-wrap: wrap;
}

.home-info-specific {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 6px;
  background: rgba(48, 106, 165, 0.8); 
  width: 28%;
  min-width: 270px;
  white-space: pre-line;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: white;

  /* background: rgba(91,192,222, 0.8);  */
}

@media only screen and (min-width: 1140px) {
  div.home-info-specific {
    height: 300px;
    margin-bottom: 100px;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 600px) {
  div.home-info-specific {
    width: 80%;
  }
}

.text {
  font-weight: 100;
  font-size: 22px;
  margin-top: 15px;
  font: 200 20px Roboto,"Helvetica Neue",sans-serif;
}

.home-info-specific-heading {
  font-weight: 500; 
  margin-top: 15px; 
  font: 400 40px/40px Roboto,"Helvetica Neue",sans-serif;
}

.home-info-specific-button {
  margin-top:auto;
}
