<mat-toolbar>
    <div>
        <h1 id="sub-header-sub-page-title">{{title}}</h1>
    </div>
    <div id="sub-header-action-buttons">
        <button mat-raised-button (click)="toggleView()">Switch View</button>
    </div>
</mat-toolbar>

<div class="content">
  <app-list-view *ngIf="!showCalendar" [races]="races" [month]="currentMonth" [showSpinner]="showSpinner" [percentageWidth]="60"></app-list-view>

  <app-calendar-view *ngIf="showCalendar"></app-calendar-view>
</div>




    



