mat-toolbar {
  justify-content: space-between;
  height: 100px;
  margin-top: 50px;
  background-color: rgb(48, 106, 165);
  color: white;
}

#sub-header-sub-page-title {
  font-weight: 300;
  margin: 0;
  padding: 28px 8px;
  font-size: 25px;
}

.content {
  background-image: url("../../../assets/background/contour_bg.png");
  padding-top: 100px;
  padding-bottom: 100px;
}
